<div class="container">
	<div class="item item1"> filed </div>
	<div class="item item2"> filed </div>
	<div class="item item3"> filed </div>
	<div class="item item4"> filed </div>
	<div class="item item5"> filed </div>
	<div class="item item6"> filed </div>
	<div class="item item7"> filed </div>
	<div class="item item8"> filed </div>
	<div class="item item9"> filed </div>
	<div class="item item10"> filed </div>
	<div class="item item11"> filed </div>
	<div class="item item12"> filed </div>
	<div class="item item13"> filed </div>
	<div class="item item14"> filed </div>
	<div class="item item15"> filed </div>
	<div class="item item16"> filed </div>
	<div class="item item17"> filed </div>
	<div class="item item18"> filed </div>
	<div class="item item19"> filed </div>
	<div class="item item20"> filed </div>
	<div class="item item21"> filed </div>
	<div class="item item22"> filed </div>
	<div class="item item23"> filed </div>
	<div class="item item24"> filed </div>
	<div class="item item25"> filed </div>
	<div class="item item26"> filed </div>
	<div class="item item27"> filed </div>
	<div class="item item28"> filed </div>
	<div class="item item29"> filed </div>
	<div class="item item30"> filed </div>
	<div class="item item31"> filed </div>
	<div class="item item32"> filed </div>
	<div class="item item33"> filed </div>
	<div class="item item34"> filed </div>
	<div class="item item35"> filed </div>
	<div class="item item36"> filed </div>
	<div class="item item37"> filed </div>
	<div class="item item38"> filed </div>
	<div class="item item39"> filed </div>
	<div class="item item40"> filed </div>
	<div class="item item41"> filed </div>
	<div class="item item42"> filed </div>
	<div class="item item43"> filed </div>
	<div class="item item44"> filed </div>
	<div class="item item45"> filed </div>
	<div class="item item46"> filed </div>
	<div class="item item47"> filed </div>
	<div class="item item48"> filed </div>
	<div class="item item49"> filed </div>
	<div class="item item50"> filed </div>
	<div class="item item51"> filed </div>
	<div class="item item52"> filed </div>
	<div class="item item53"> filed </div>
	<div class="item item54"> filed </div>
	<div class="item item55"> filed </div>
	<div class="item item56"> filed </div>
	<div class="item item57"> filed </div>
	<div class="item item58"> filed </div>
	<div class="item item59"> filed </div>
	<div class="item item60"> filed </div>
	<div class="item item61"> filed </div>
	<div class="item item62"> filed </div>
	<div class="item item63"> filed </div>
	<div class="item item64"> filed </div>
	<div class="item item65"> filed </div>
	<div class="item item66"> filed </div>
	<div class="item item67"> filed </div>
	<div class="item item68"> filed </div>
	<div class="item item69"> filed </div>
	<div class="item item70"> filed </div>
	<div class="item item71"> filed </div>
	<div class="item item72"> filed </div>
	<div class="item item73"> filed </div>
	<div class="item item74"> filed </div>
	<div class="item item75"> filed </div>
	<div class="item item76"> filed </div>
	<div class="item item77"> filed </div>
	<div class="item item78"> filed </div>
	<div class="item item79"> filed </div>
	<div class="item item80"> filed </div>
	<div class="item item81"> filed </div>
	<div class="item item82"> filed </div>
	<div class="item item83"> filed </div>
	<div class="item item84"> filed </div>
	<div class="item item85"> filed </div>
	<div class="item item86"> filed </div>
	<div class="item item87"> filed </div>
	<div class="item item88"> filed </div>
	<div class="item item89"> filed </div>
	<div class="item item90"> filed </div>
	<div class="item item91"> filed </div>
	<div class="item item92"> filed </div>
	<div class="item item93"> filed </div>
	<div class="item item94"> filed </div>
	<div class="item item95"> filed </div>
	<div class="item item96"> filed </div>
	<div class="item item97"> filed </div>
	<div class="item item98"> filed </div>
	<div class="item item99"> filed </div>
	<div class="item item100"> filed </div>
	<div class="item item101"> filed </div>
	<div class="item item102"> filed </div>
	<div class="item item103"> filed </div>
	<div class="item item104"> filed </div>
	<div class="item item105"> filed </div>
	<div class="item item106"> filed </div>
	<div class="item item107"> filed </div>
	<div class="item item108"> filed </div>
	<div class="item item109"> filed </div>
	<div class="item item110"> filed </div>
	<div class="item item111"> filed </div>
	<div class="item item112"> filed </div>
	<div class="item item113"> filed </div>
	<div class="item item114"> filed </div>
	<div class="item item115"> filed </div>
	<div class="item item116"> filed </div>
	<div class="item item117"> filed </div>
	<div class="item item118"> filed </div>
	<div class="item item119"> filed </div>
	<div class="item item120"> filed </div>
	<div class="item item121"> filed </div>
	<div class="item item122"> filed </div>
	<div class="item item123"> filed </div>
	<div class="item item124"> filed </div>
	<div class="item item125"> filed </div>
	<div class="item item126"> filed </div>
	<div class="item item127"> filed </div>
	<div class="item item128"> filed </div>
	<div class="item item129"> filed </div>
	<div class="item item130"> filed </div>
	<div class="item item131"> filed </div>
	<div class="item item132"> filed </div>
	<div class="item item133"> filed </div>
	<div class="item item134"> filed </div>
	<div class="item item135"> filed </div>
	<div class="item item136"> filed </div>
	<div class="item item137"> filed </div>
	<div class="item item138"> filed </div>
	<div class="item item139"> filed </div>
	<div class="item item140"> filed </div>
	<div class="item item141"> filed </div>
	<div class="item item142"> filed </div>
	<div class="item item143"> filed </div>
	<div class="item item144"> filed </div>
	<div class="item item145"> filed </div>
	<div class="item item146"> filed </div>
	<div class="item item147"> filed </div>
	<div class="item item148"> filed </div>
	<div class="item item149"> filed </div>
	<div class="item item150"> filed </div>
	<div class="item item151"> filed </div>
	<div class="item item152"> filed </div>
	<div class="item item153"> filed </div>
	<div class="item item154"> filed </div>
	<div class="item item155"> filed </div>
	<div class="item item156"> filed </div>
	<div class="item item157"> filed </div>
	<div class="item item158"> filed </div>
	<div class="item item159"> filed </div>
	<div class="item item160"> filed </div>
	<div class="item item161"> filed </div>
	<div class="item item162"> filed </div>
	<div class="item item163"> filed </div>
	<div class="item item164"> filed </div>
	<div class="item item165"> filed </div>
	<div class="item item166"> filed </div>
	<div class="item item167"> filed </div>
	<div class="item item168"> filed </div>
	<div class="item item169"> filed </div>
	<div class="item item170"> filed </div>
	<div class="item item171"> filed </div>
	<div class="item item172"> filed </div>
	<div class="item item173"> filed </div>
	<div class="item item174"> filed </div>
	<div class="item item175"> filed </div>
	<div class="item item176"> filed </div>
	<div class="item item177"> filed </div>
	<div class="item item178"> filed </div>
	<div class="item item179"> filed </div>
	<div class="item item180"> filed </div>
	<div class="item item181"> filed </div>
	<div class="item item182"> filed </div>
	<div class="item item183"> filed </div>
	<div class="item item184"> filed </div>
	<div class="item item185"> filed </div>
	<div class="item item186"> filed </div>
	<div class="item item187"> filed </div>
	<div class="item item188"> filed </div>
	<div class="item item189"> filed </div>
	<div class="item item190"> filed </div>
	<div class="item item191"> filed </div>
	<div class="item item192"> filed </div>
	<div class="item item193"> filed </div>
	<div class="item item194"> filed </div>
	<div class="item item195"> filed </div>
	<div class="item item196"> filed </div>
	<div class="item item197"> filed </div>
	<div class="item item198"> filed </div>
	<div class="item item199"> filed </div>
	<div class="item item200"> filed </div>
	<div class="item item201"> filed </div>
	<div class="item item202"> filed </div>
	<div class="item item203"> filed </div>
	<div class="item item204"> filed </div>
	<div class="item item205"> filed </div>
	<div class="item item206"> filed </div>
	<div class="item item207"> filed </div>
	<div class="item item208"> filed </div>
	<div class="item item209"> filed </div>
	<div class="item item210"> filed </div>
	<div class="item item211"> filed </div>
	<div class="item item212"> filed </div>
	<div class="item item213"> filed </div>
	<div class="item item214"> filed </div>
	<div class="item item215"> filed </div>
	<div class="item item216"> filed </div>
	<div class="item item217"> filed </div>
	<div class="item item218"> filed </div>
	<div class="item item219"> filed </div>
	<div class="item item220"> filed </div>
	<div class="item item221"> filed </div>
	<div class="item item222"> filed </div>
	<div class="item item223"> filed </div>
	<div class="item item224"> filed </div>
	<div class="item item225"> filed </div>
</div>

<style>
	.container{
		display: grid;
		border: 2px solid var(--black);
		grid-template-columns: repeat(15, 10px);
		grid-template-rows: repeat(15, 1fr)
	}

</style>